<div id="intro_text" class="intro">
    <div style="margin: 30px;">
        <h1>dhtmlxFileExplorer Demo Application</h1>
        <p>The purpose of this demo is to illustrate the possibility of building Windows File Explorer like application using dhtmlx library. The following components were used:</p>
        <ul>
            <li>dhtmlxLayout/dhtmlxWindows - as interface base</li>
            <li>dhtmlxMenu</li>
            <li>dhtmlxToolbar</li>
            <li>dhtmlxTree - for navigation tree</li>
            <li>dhtmlxGrid - for table view</li>
            <li>dhtmlxDataView - for Icons and Tiles views</li>
        </ul>
        
        <p>For step-by-step instructions of building this kind of application, please <a href="http://docs.dhtmlx.com/tutorials__building_web_interfaces__index.html" target="_blank">go here</a></p>
        
        <p>Current implementation demonstrates basic possibilities, which can be extended with more complex functionality, like: 
            <ul>
                <li>drag-n-drop</li>
                <li>context menu</li>
                <li>files operations (create, rename, delete, move etc.)</li>
                <li>sorting of various types</li>
                <li>filtering</li>
                <li>thumbnails view</li>
            </ul>
        and more. All these features can be added using present possibilities of dhtmlx components.</p>
        
        <p>&copy; Dinamenta, UAB.</p>
    </div>
</div>